@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    background-color: #27548A;
}


#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
}

.subtitulo {
    color: white;
    font-size: 36px;

}

.tarjetas,
.tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    height: 100px;
    width: 180px;
    background: #9EBC8A;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid hotpink;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tarjeta-de-mokepon img {
    width: 80px;
    height: 80px;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: "Roboto Mono", monospace;
    margin-top: 50px;

}

input {
    display: none;

}

input:checked + label{
    background-color: hotpink;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background: #9EBC8A;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: black;
    font-family: "Roboto Mono", monospace;
}


#mensajes {
    width: 280px;
    background: #BBFBFF;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto Mono", monospace;

}

#boton-reiniciar {
    border: none;
    color: hotpink;
    font-family: "Roboto Mono", monospace;

}


.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    justify-items: center;
}

#vidas-jugador,
#vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador,
.ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 360px) {

    .tarjetas,
    .tarjetas-ataques {
        flex-direction: column;
    }
}